.index-container  
  width: 1225px
  margin: 0 auto
  margin-left: 50px

.index-wrap
  background-image: url('how2.png')
  width: 100%

.index-graph
  font-family: 'Merriweather Sans', sans-serif
  width: 1225px
  height: 366px
  background: #e2edf6
  margin-left: 100px
  margin-top: 30px

.index-hr
  color: gray
  height: 1px
  width: 100%
  margin-top: 20px
  margin-bottom: 20px

.document-list
  list-style-type: none

.document-li
  border: 2px solid #ffffff
  border-radius: 5px
  float: left
  margin: 15px
  text-align: center
  max-width: 150px
  height: 250px
  .folder-pic
    margin: 0 auto
  .settings-pic
    margin 0 auto
    width: 25px
    padding-bottom: 5px
  .annotate-thumb-pic
    margin: 0 auto

.document-information
  font-size: 8pt
  margin: 10px

.archive-delete-list
  list-style: none
  padding-left: 0